{% extends 'base_layout.html' %}
{% block body %}
        <!-- Body -->
        <div id="body" class="my-5">
            <div class="container" style="margin-top:30px">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="container border my-3 p-3">
                            <h2>Weather</h2>
                            <h3>{{weather.city}} <img src="http://openweathermap.org/img/wn/{{weather.icon}}@2x.png"></h3>
                            Temperature : {{weather.temperature}} <br>
                            Description : {{weather.description.capitalize()}} <br>
                            Pressure : {{weather.pressure}}hPa <br>
                            Humidity : {{weather.humidity}}% <br>
                            Wind Speed : {{weather.humidity}}m/s {{weather.direction}}
                            <form>
                                <input type="text" name="city" placeholder="Weather Search" class="form-control mt-3">
                                <input type="submit" value="Submit" class="btn btn-primary form-control mt-3">
                            </form>
                        </div>
                        <div class="container border my-3 p-3">
                            <h2>News Search</h2>
                            <form action="./newssearch">
                                <input type="text" name="keyword" placeholder="News Keyword" class="form-control mt-3">
                                <input type="submit" value="Submit" class="btn btn-primary form-control mt-3">
                            </form>
                        </div>
                        <div class="container border my-3 p-3">
                            <a href="./aboutme">About me</a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="container border my-3 p-3">
                            <h2>Latest News about COVID-19</h2>
                        </div>
                        {% for x in range(5) %}
                        <div class="container border my-3 p-3"> 
                                <h3>{{covid[x]['title']}}</h3>
                                <img src="{{covid[x]['urlToImage']}}" width="100%">
                                {{covid[x]['description']}} (<a href="{{covid[x]['url']}}">Read more...</a>)
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>            
        </div>
{% endblock %}